<div>
<h2>Quenn</h2>
<p class = "text">Queen es una banda británica de rock formada en 1970 en Londres por el cantante Freddie Mercury, el guitarrista Brian May, el baterista Roger Taylor y el bajista John Deacon  Si bien el grupo ha presentado bajas de dos de sus miembros (Mercury, fallecido en 1991, y Deacon, retirado en 1997).</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/-tJYN-eG1zk?list=PLeoBVKHKNsGriWnBb7u2FrwRC-izVytZg?ecver=1" frameborder="0" allowfullscreen></iframe>
</div>
