<div>
    <h2>The Beatles</h2>
    <p class = "text">The Beatles fue una banda de pop/rock inglesa activa durante la década de 1960. Formada en Liverpool, estuvo constituida por John Lennon (guitarra rítmica, vocalista), Paul McCartney (bajo, vocalista), George Harrison (guitarra solista, vocalista) y Ringo Starr (batería, vocalista).</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/NCtzkaL2t_Y?list=PL9-cZf_sidpnrpRDlmAiLJaFtzHpD7aFY?ecver=1" frameborder="0" allowfullscreen></iframe>
</div>
