body{
  background-color: #004b87;
}
.img-circle{
  margin-left: 110px;
}
.foo{
  margin-left: 160px;
  color: white;
}
.bar{
  margin-left: 160px;
  color: white;
}
.rolling{
  margin-left: 100px;
  color: white;
}
.beatles{
  margin-left: 130px;
  color: white;
}
.queen{
  margin-left: 150px;
  color: white;
}
